<header>
    <h1><a href="/">StanBlogs</a></h1>
    <h2>Welcome to stan blogs</h2>
    <ul>
        <li><a href="/">HomePage</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/newblog">New blog</a></li>
    </ul>
</header>