<header>
    <h1><a class="header-link" href="/">StanBlogs</a></h1>
    <div id="navlist">
        <nav>
    <ul>
        <li><a class="link" href="/blogs">Home Page</a></li>
        <li><a class="link" href="/blogs/about">About</a></li>
        <li><a class="link" href="/blogs/newblog">New blog</a></li>
    </ul></nav>
</header>