<header>
    <h1><a href="/">StanBlogs</a></h1>
    <h2>Welcome to stan blogs</h2>
    <li>
        <ul><a href="/">HomePage</a></ul>
        <ul><a href="/about">About</a></ul>
        <ul><a href="/newblog">New blog</a></ul>
    </li>
</header>