<!DOCTYPE html>
<html lang="en">
 <%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/header.ejs') %>
<main>
    error 404 , Page was not found
</main>
</body>
<%- include('./partials/footer.ejs') %>
</html>