<!DOCTYPE html>
<html lang="en">
 <%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/header.ejs') %>
<main>
    <form action="/blogs" method="POST">
    <div> <span> title : </span><input required name="title" type="text" ></div> 
    <div> <span>  snippet : </span><input required name="snippet"   type="text" ></div> 
    <div> <span> body : </span><input required name="body"   type="text" ></div> 
    <button type="submit">Submit</button></form>
 
 </main>
</body>
<%- include('./partials/footer.ejs') %>

</html>